<%- include('header') %>
<form method="GET" action="/cotacao">
    <div>
        <input placeholder="Cotação" name="cotacao"/><br/>
        <input placeholder="Quantidade de Dólares" name="qtde"/> <br/>
        <a>
            <button>Converter!</button>
        </a>
    </div>
</form>

<%- include('footer') %>